---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tile Uy - Estudio de Arquitectura ">
	<main>
		<h1><span class="text-gradient">Estudio</span></h1>
	</main>
</Layout>

<style>

</style>
