---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Tile Uy - Estudio de Arquitectura ">
	<main>
		<Menu/>
		<div class="flex items-stretch ...">
			<div class="grow" style="background-image: url(/img/bg/1.jpg);"></div>
			<div class="grow" style="background-image: url(/img/bg/2.jpg);"></div>
			<div class="grow" style="background-image: url(/img/bg/3.jpg);"></div>
			<div class="grow" style="background-image: url(/img/bg/4.jpg);"></div>
		  </div>
	</main>
</Layout>

<style>
	div.grow {
		background-position: 50%;
		height: 80vh;
		border-right: 1px solid #ddd
	}
	div.grow:last-child {
		border-right: none;
	}
</style>
