---
import Layout from '../layouts/Layout.astro';
import AstroCards from '../components/AstroCards.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Tile Uy - Estudio de Arquitectura ">
	<main>
		<Menu/>
		<div
			class="relative overflow-hidden bg-cover bg-no-repeat"
			style="
				background-position: 50%;
				background-image: url(/img/bg/1.jpg);
				height: 350px;
			"
		></div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	main.narrow {
		padding: 1.5rem;
		max-width: 60vw;
	}
</style>
