---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tile Uy - Estudio de Arquitectura ">

	<header>
		<nav
			class="h-20 flex w-full items-center justify-between bg-white text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
		>
			<img src="/img/logo.svg" class="absolute left-1/2 -ml-16 mt-20 block w-32 z-[100]"/>
		</nav>
	</header>

	<main>
		<div class="place-content-center relative shadow-xl">
			<div class="grow background"></div>
			<div class="tagline p-5 rounded-md h-32 w-5/6 absolute left-20 mt-20 block top-40">
				<p class="uppercase italic">Espacios pequeños, vidas grandes &hellip;</p>
				<p>Diseños que crean experiencias</p>
			</div>
		</div>
	</main>

	<footer>
		<ul>
			<li>
				<a href="mailto:hola@tile.Uy">hola@tile.Uy</a>
			</li>
			<li>
				<a target="_blank" href="https://www.instagram.com/tile.uy/">
					<img src="/img/instagram.svg"/>
				</a>
			</li>
			<li>
				<a target="_blank" href="https://wa.me/+59898754186">
					<img src="/img/whatsapp.svg" />
				</a>
			</li>
		</ul>
	</footer>

</Layout>

<style>
	div.grow {
		background-size: cover;
		height: 80vh;
		border-right: 1px solid #ddd
	}
	div.grow:last-child {
		border-right: none;
	}
</style>
