<header>

	<nav
	  class="flex w-full items-center justify-between bg-white text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
	>
	  <div class="flex w-full flex-wrap items-center justify-between relative">
		  <ul class="relative center flex lg:flex-row mx-auto">
			<li class="mx-20 center">
			  <a
				class="block w-32 text-center py-7 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white [&.active]:text-black/90 align-middle uppercase"
				href="/estudio"
				>Estudio</a
			  >
			</li>
			<li class="absolute left-1/2 -ml-16 mt-2">
			  <a
				class="transition block w-32 duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white [&.active]:text-black/90"
				href="/"
				><img src="/img/logo.svg" /></a
			  >
			</li>
			<li class="mx-20">
			  <a
				class="block w-32 text-center py-7 transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white [&.active]:text-black/90 align-middle uppercase"
				href="/servicios"
				>Servicios</a
			  >
			</li>
		  </ul>
	  </div>
	</nav>

</header>

<style>

</style>
