<header>

	<nav
	  class="flex w-full items-center justify-between bg-white text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-start"
	>
	  <div class="flex w-full flex-wrap items-center justify-between px-3 relative">
		  <ul class="center flex lg:flex-row mx-auto">
			<li class="pt-8 mx-4 lg:mb-0 lg:pr-2">
			  <a
				class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90 align-middle"
				href="/estudio"
				>Estudio</a
			  >
			</li>
			<li class="mx-4 lg:mb-0 lg:pr-2 relative">
			  <a
				class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
				href="/"
				><img src="/img/logo.svg" class="w-20" /></a
			  >
			</li>
			<li class="pt-8 mx-4 mb-4 lg:mb-0 lg:pr-2">
			  <a
				class="block transition duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:p-2 [&.active]:text-black/90"
				href="/servicios"
				>Servicios</a
			  >
			</li>
		  </ul>
	  </div>
	</nav>

</header>

<style>

</style>
