---
export interface Props {
	title: string
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Creamos hogares sustentables, promoviendo un estilo de vida consciente y en armonía con la naturaleza, sin comprometer nuestra comodidad y bienestar. Ponemos la calidad de vida en el centro de todos nuestros proyectos.">
		<meta name="keywords" content="sustentabilidad, construcción, arquitectura, estudio de arquitectura, construcción sustentable, construcción saludable, tiny house, tiny houses, casas mínimas, declaración jurada de caracterización urbana, DJCU, habilitación comercial, habilitación de bomberos, regularización de viviendas, arquitectos, casas pequeñas, diseño de casas sustentables, materiales sustentables, construcción en madera, cabañas, casas transportables, trámites de arquitectura">
		<meta name="theme-color" content="black">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="stylesheet" href="./css/normalize.css">
		<link rel="stylesheet" href="./css/base.css">
		<link rel="stylesheet" href="./css/main.css">
		<link rel="stylesheet" href="./css/helper.css">

		<!-- Google Fonts https://fonts.google.com/specimen/Lato?query=lato -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="theme-color" content="#BB89EC">

		<!-- Google Analytics tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MPQPE03V1M"></script>
		<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-MPQPE03V1M'); </script>

	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

</style>
